* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
   html{
    height: 100%;
   }
  body {
    height: 100%;
    background-image:url(http://getwallpapers.com/wallpaper/full/8/f/f/628923.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position: center;
  }
   
  h1{
     text-align: center;
     margin: 3%;
     font-size: 3rem;
     text-decoration: underline;
  }
  
  form{
      margin-left:30%;
  }

#input, #btn{
     height:50px;
     border:3px solid black;
     border-radius:8px;
     font-size:1rem;
     
}

#btn:hover{
  background-color: aquamarine;
}

#input:hover{
  background-color: aquamarine;
}

#input{
  text-align:center;
}

  ul {
    text-align: left;
    color:black;
    font-size: 2rem;
    list-style: none;
    margin: 50px 80px;
  }

  li{
    margin-bottom: 10px;
    padding: 10px 20px;
    border: 3px solid black;
    border-radius: 30px;
  }

  .bt{
    margin: 0px 55px ;
    padding: 10px ;
    border-radius: 8px ; 
    background-color:rgb(214, 136, 154);
    font-weight: bold ;
    font-size: 18px ;
  }

  .bt1{
    background-color: red;
    padding: 10px 20px ;
    border-Radius: 8px ;
    font-weight: bold ;
    font-size: 18px;
  }